<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />    
    <title>Select Group</title>
</head>
<body>
    <h2>Select a Group</h2>
    <form action="/students/studentsInGroup" method="post">
        <select name="group_id">
            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.title}"></option>
        </select>
        <button type="submit">View Students</button>
    </form>
</body>
</html>
