<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
    <style>
.content {
    margin-left: 25px;
}
.back-to-menu {
         position: absolute;
         top: 20px;
         right: 18px;
         background-color: #17a2b8;
         color: white;
         padding: 8px 16px;
         border: none;
         border-radius: 4px;
         text-decoration: none;
}
.back-to-menu:hover {
         background-color: #138496;
}
</style>    
</head>
<body class="content">
    <h1>User Details</h1>
    <a href="/menu" class="back-to-menu">Back to Menu</a>
     <div th:if="${user != null}">
         <p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
    	 <p><strong>Name:</strong> <span th:text="${user.name}"></span></p>
  		 <p><strong>Surname:</strong> <span th:text="${user.surname}"></span></p>
    	 <p><strong>Login:</strong> <span th:text="${user.login}"></span></p>
   		 <p><strong>Password:</strong> <span th:text="${user.password}"></span></p>
         
         </div>
        <div th:if="${user == null}">
        <p>User not found.</p>
    </div>
    <a href="/admins">Back to Admin Panel</a>
</body>
</html>
