<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Student to Group</title>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
    <style>
.content {
    margin-left: 25px;
}
.back-to-menu {
         position: absolute;
         top: 20px;
         right: 18px;
         background-color: #17a2b8;
         color: white;
         padding: 8px 16px;
         border: none;
         border-radius: 4px;
         text-decoration: none;
}
.back-to-menu:hover {
         background-color: #138496;
}
</style>
</head>
<body class="content" >
    <h1>Assign Student to Group</h1>
    <a href="/auth/menu" class="back-to-menu">Back to Menu</a>
    	<form th:action="@{/groups/{id}/assignStudent(id=${group.id})}" method="post">
   			 <input type="hidden" name="groupId" th:value="${group.id}">
  			 <label for="studentId">Select Student:</label>
   			 <select id="studentId" name="studentId" required>
       		 <option value="">Select a student</option>
       		 <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.name}"></option>
    	</select>
   		<br>
   		<button type="submit">Assign Student</button>   
</form>

</body>
</html>
