<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Assign Teacher to Course</title>
<link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
<style>
.content {
    margin-left: 25px;
}
.back-to-menu {
         position: absolute;
         top: 20px;
         right: 18px;
         background-color: #17a2b8;
         color: white;
         padding: 8px 16px;
         border: none;
         border-radius: 4px;
         text-decoration: none;
}
.back-to-menu:hover {
         background-color: #138496;
}
</style>
</head>
<<body class="content">
	<h1>Assign Teacher to Course</h1>
	<a href="/auth/menu" class="back-to-menu">Back to Menu</a>
	<form th:action="@{/courses/{id}/assignTeacher(id=${course.id})}" th:object="${course}" method="post">
        
		<input type="hidden" name="courseId" th:value="${courseId}"> 
		<label for="teacherId">Select Teacher:</label> 
		
		<select id="teacherId" name="teacherId" required>
		 <option value="">Select a teacher</option>
			<option th:each="teacher : ${teachers}" th:value="${teacher.id}"th:text="${teacher.name}"></option>
		</select>
		<br>
		<button type="submit">Assign Teacher</button>
	</form>
</body>
</html>
