<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
    <h1>Edit Course</h1>
    <form th:action="@{/courses/{id}/update(id=${course.id})}" th:object="${course}" method="post">
        
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:value="${course.title}" ><br><br>
        
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" th:value="${course.description}" ><br><br>
       
        <button type="submit">Save Changes</button>
    </form> 
</body>
</html>
