<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
<title>Student Schedule</title>
<style>
table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

.deep-orange-bg {
	background-color: #FF5733;
}
</style>
</head>
<body>
	<h1>Student Schedule</h1>
	<a href="/schedules/create" class="btn">Create New Schedule Entry</a>
	<table>
		<thead>
			<tr>
				<th>Date and Time</th>
				<th>Course</th>
				<th>Teacher</th>
				<th>Classroom</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="entry : ${schedule}">
				<td th:text="${entry.dateTime}">-</td>
				<td th:text="${entry.course.name}">-</td>
				<td th:text="${entry.course.teacher.name}">-</td>
				<td th:text="${entry.classroom}">-</td>
				<td><a th:href="@{/schedules/edit/{id}(id=${entry.id})}"
					class="btn">Edit</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
