<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Student to Group</title>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
    <h1>Assign Student to Group</h1>
    	<form th:action="@{/groups/{id}/assignStudent(id=${group.id})}" method="post">
   			 <input type="hidden" name="groupId" th:value="${group.id}">
  			 <label for="studentId">Select Student:</label>
   			 <select id="studentId" name="studentId" required>
       		 <option value="">Select a student</option>
       		 <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.name}"></option>
    	</select>
   		<br>
   		<button type="submit">Assign Student</button>   
</form>

</body>
</html>
