<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Group to Course</title>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
    <h1>Assign Group to Course</h1>
	<form th:action="@{/courses/{id}/assignGroup(id=${course.id})}" th:object="${course}" method="post">
        
        <label for="groupIds">Select Group:</label>
        <select id="groupIds" name="groupIds" required>
         <option value="">Select a group</option>
            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.title}"></option>
        </select>
        <br>
        <button type="submit">Assign Group</button>
    </form>
</body>
</html>
