<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Course to Student</title>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
    <h1>Assign Course to Student</h1>
   <form th:action="@{'/students/' + ${studentId} + '/assignCourse'}" method="post">
        <input type="hidden" name="studentId" th:value="${studentId}">
        <label for="courseId">Select Course:</label>
        <select id="courseId" name="courseId" required>
            <option value="">Select a course</option>
            <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.title}"></option>
        </select>
        <br>
        <button type="submit">Assign Course</button>
    </form>
</body>
</html>
