<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Group Confirmation</title>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
    <h1>Delete Group Confirmation</h1>
    <p>Are you sure you want to delete the following course?</p>
    <br>
    <p th:text="${group.title}"></p>
     <form th:action="@{/groups/{id}/delete(id=${group.id})}" th:object="${group}" method="post">
        <input type="hidden" name="id" th:value="${group.id}">
        <button type="submit">Yes, Delete Group</button>
    </form>
    <br>
    <br>
     <a href="/groups">Cancel</a>
</body>
</html>
