<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Welcome to Your Application</h1>
	<div class="container">
		<br />
		<div class="alert alert-success">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
			<strong>Success!</strong> Hello, It is working as we expected.
		</div>


		<div sec:authorize="isAuthenticated()">This content is only
			shown to authenticated users.</div>
		<div sec:authorize="hasRole('ROLE_ADMIN')">This content is only
			shown to administrators.</div>
		<div sec:authorize="hasRole('ROLE_USER')">This content is only
			shown to users.</div>

		Logged user: <span sec:authentication="name">Bob</span> 
		Roles: <span sec:authentication="principal.authorities">[ROLE_USER,
			ROLE_ADMIN]</span>
			
			
		<!-- Include the menu fragment -->
		<div th:replace="~{menu.html :: body}"></div>
	</div>
	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>