<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Menu</title>
</head>
<body>
<body th:fragment="body">
	<nav>
		<ul>
			<li><a th:href="@{/courses}">Courses</a></li>
			<li><a th:href="@{/students}">Students</a></li>
			<li><a th:href="@{/groups}">Groups</a></li>
			<li><a th:href="@{/teachers}">Teacher</a></li>
			<li><a th:href="@{/admins}">Admin</a></li>
			<!-- Add links for other entities as needed -->
		</ul>
	</nav>

</body>
</html>
