<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
    <h1>Update Course</h1>
    <form action="/courses/update/{id}" method="post">
        <input type="hidden" name="id" th:value="${course.id}">
        
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:value="${course.title}" required><br>
        
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required th:text="${course.description}"></textarea><br>
       
        
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
