<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student</title>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
    <h1>Edit Student</h1>
      <form th:action="@{/students/{id}/update(id=${student.id})}" th:object="${student}" method="post">
        
        <label for="group_id">Group id:</label>
        <input type="number" id="group_id" name="group_id" th:value="${student.group_id}"><br>
        
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="${student.name}"><br>
        
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" th:value="${student.surname}"><br>
        
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" th:value="${student.login}"><br>
        
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" th:value="${student.password}"><br>
      
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
